html {
    background-color: black;
}

h1, h3, p {
    color: aquamarine;
    letter-spacing: 2mm;
} 

h3 {
    font-size: 2.6em;
}

#open {
    font-family: monospace;
    font-size: 2.2em;
}
    
.second {
    font-family: monospace;
    font-size: 1.75sem;
}

.croix {
    font-family: monospace;
    font-size: 1.25em;
}
